<form [formGroup]="registerForm" (ngSubmit)="submitDetails()" class="register-form">
  <p-card [style]="{ width: '360px' }">
    <header id="cpuHeader">
      <img alt="Card" src="../../../assets/images/cpu-logo.png" width="100px"/>
      <p>Registro</p>
    </header>
    <div class="field">
      <label for="fullName">Nome completo</label>
      <input
        type="text"
        pInputText
        formControlName="name"
        class="w-full"
        name="name"
        placeholder="Digite o seu nome completo"
      />
      <small
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="block p-error"
      >
        <div *ngIf="name.errors?.['required']">Nome é obrigatório.</div>
        <div *ngIf="name.errors?.['pattern']">Digite um nome válido</div>
      </small>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Digite o seu email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email é obrigatório.</div>
        <div *ngIf="email.errors?.['email']">Digite um email válido</div>
      </small>
    </div>
    <div class="field">
      <label for="country">País</label>
      <input
        type="text"
        pInputText
        class="w-full"
        formControlName="country"
        name="country"
        placeholder="Digite o seu país"
      />
      <small
        *ngIf="country.invalid && (country.dirty || country.touched)"
        class="block p-error"
      >
        <div *ngIf="country.errors?.['required']">País é obrigatório.</div>
      </small>
    </div>
    <div class="field">
      <label for="city">Cidade</label>
      <input
        type="text"
        pInputText
        class="w-full"
        formControlName="city"
        name="city"
        placeholder="Digite a sua matrícula"
      />
      <small
        *ngIf="city.invalid && (city.dirty || city.touched)"
        class="block p-error"
      >
        <div *ngIf="city.errors?.['required']">Cidade é obrigatória.</div>
      </small>
    </div>    
    <div class="field">
      <label for="state">Estado</label>
      <input
        type="text"
        pInputText
        class="w-full"
        formControlName="state"
        name="state"
        placeholder="Digite a sua matrícula"
      />
      <small
        *ngIf="state.invalid && (state.dirty || state.touched)"
        class="block p-error"
      >
        <div *ngIf="state.errors?.['required']">Estado é obrigatório.</div>
      </small>
    </div>    
    
    <!-- <div class="field">
      <p-dropdown 
      [options]="educationLevels" 
      optionLabel="name" 
      placeholder="Selecione a formação" />
      <small
        *ngIf="education.invalid && (education.dirty || education.touched)"
        class="block p-error"
      >
        <div *ngIf="education.errors?.['required']">Estado é obrigatório.</div>
      </small>
    </div>   -->
   
    <div class="field">
      <label for="password">Senha</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Digite a sua senha"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Senha é obrigatória.</div>
      </small>
    </div>
    <div class="field">
      <label for="confirmPassword">Confirmar senha</label>
      <input
        type="password"
        pInputText
        formControlName="confirmPassword"
        class="w-full"
        name="confirmPassword"
        placeholder="Confirmar senha"
      />
      <small
        *ngIf="
          confirmPassword.invalid &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
        class="block p-error"
      >
        <div *ngIf="confirmPassword.errors?.['required']">
          Confirme a senha
        </div>
      </small>
      <small
        class="block p-error"
        *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
      >
        Senhas precisam ser iguais
      </small>
    </div>
    <p-button
      label="Cadastrar"
      styleClass="w-full"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2">Já possui cadastro? <a routerLink="/login">Login</a></div>
  </p-card>
</form>
