@import "primeicons/primeicons.css";

body {
    font-size: 1.5rem;
    font-weight: 700;
}

.listing {
    border-radius: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .listing-heading-item {
    text-align: center;
    width: 17rem;
    padding: 15px;
    border-radius: 10px;
    background-color: #3b82f6;
    color: #ffff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
  }

  .listing-heading-item:hover{
    cursor: pointer;
    background-color: #d0e1fd;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.headbar {
    background-color: #3b82f6;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1rem 0 2rem;
}
.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    display: flex;
    align-items: center;
}
.user-info span {
    margin-left: 10px;
}

.module-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.module-card {
    padding-top: 2rem;
}