<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <p-card [style]="{ width: '360px' }">
    <header id="cpuHeader">
      <img alt="Card" src="../../../assets/images/cpu-logo.png" width="100px"/>
      <p>Login</p>
    </header>
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Digite o seu email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email é obrigatório.</div>
        <div *ngIf="email.errors?.['email']">Email deveria ser válido</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Senha</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Digite a sua senha"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Senha é obrigatória.</div>
      </small>
    </div>
    <p-button
      label="ENTRAR"
      styleClass="w-full"
      [disabled]="loginForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2">Não possui usuário? <a routerLink="/register">Registrar</a></div>
  </p-card>
</form>
