<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error>
              Email is required
            </mat-error>
            <mat-error >
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error>
              Password is required
            </mat-error>
          </mat-form-field>
          <div class="login-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  